
/* body
------------------------------------------------------------------------------------------------------  */
body {
    margin: 0 auto;
    font-family: 'Lato';
    width: 100%;
    max-width: 1480px;
    padding: 0px;
}



	/* row
	------------------------------------------------------------------------------------------------------  */
	.row        { width: 100%; max-width: 1300px; margin: 0 auto; }


	/* cols
	------------------------------------------------------------------------------------------------------  */
	.col_100    { float: left; margin: 0px; padding: 0px; width: 100%; }
	.col_75     { float: left; margin: 0px; padding: 0px; width: 75%; }
	.col_66     { float: left; margin: 0px; padding: 0px; width: 66.66%; }
	.col_50     { float: left; margin: 0px; padding: 0px; width: 50%; }
	.col_33     { float: left; margin: 0px; padding: 0px; width: 33.33%; }
	.col_25     { float: left; margin: 0px; padding: 0px; width: 25%; }
	.col_20     { float: left; margin: 0px; padding: 0px; width: 20%; }








	/* title
	------------------------------------------------------------------------------------------------------  */



	/* responsive
	------------------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------------------  */

	@media only screen and (max-width: 100px) {
	}







